<!-- Nav and Banner -->

  <div class="row">
    <div class="large-12 columns">

      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
      <%= image_tag 'flushing_wifi_logo.png' %>
    </div>
  </div>

  <!-- Main Content Section -->

  <div class="row">

    <div class="large-8 columns">
      <h3>Get Connected to Wi-fi</h3>
      <%= form_for :user, url: "add", html: { class: "sign-in form-horizontal text-left" } do |f| %>
        <div class="control-group">
        <%# <%= f.label :email, class: "control-label" %>
        <%= f.label :email, class: "control-label" %>
        <div class="controls">
          <%# <%= f.email_field :email, :autofocus => true, placeholder: "your@email.com" %>
          <%= f.email_field :encrypted_email, :autofocus => true, placeholder: "your@email.com" %>
        </div>
      </div>

      <%# <%= submit_tag("Register &rarr;".html_safe, :class => "secondary small button")%>

      <p>
        <%= link_to 'Go Online!', ad_show_path, class: "secondary small button" %>
      </p>

    <% end %>
    </div>

    <div class="large-4 columns">
      <p><img src="https://dl.dropboxusercontent.com/u/5300360/website/wifidemo/right_banner.png" /></p>
    </div>

  </div>


  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>


